matplotlib==3.8.3
pandas==2.2.1
plotly==5.19.0
pygwalker==0.4.7
PyYAML==6.0.1
PyYAML==6.0.1
seaborn==0.13.2
streamlit==1.31.1
streamlit_authenticator==0.3.1
streamlit_dynamic_filters==0.1.5
streamlit-aggrid==0.3.4.post3
